body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input{
  border-radius: 10px;
}

.form{
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 10px;
  background-color: rgb(227, 243, 237);
  border-radius: 5px;
  align-items: flex-start;
}


.inputdiv{
  font-weight: bold;
  font-size: 20px;
  font-style: oblique;
  
}

.check{
  display: flex;
  flex-direction: row;
}